.container-cupons-shop {
  display: grid;
  justify-items: center;
  background-color: rgb(236, 231, 231, 0.3);
}
.container-shop {
  width: 85%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 0.8fr 2fr;
  grid-gap: 40px;
  padding-top: 150px;
  padding-bottom: 40px;
  animation: cupons 1.2s 1 alternate ease-in-out;
}

@keyframes cupons {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 1024px) {
  .container-shop {
    width: 90%;
    justify-items: center;
    grid-template-columns: 1fr!important;
  }
}
